.color-white{
    color: white;
}

.bg-white{
    background-color: white;
}

.bg-green{
    background-color: #1ABC9C;
}

bg.black{
    background-color: black;
}

.bar{
    height: 3px;
    background-color: black;
}
